n8n_workflow.json
{
  "name": "ScholarAI Simple Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scholar-match",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "837bb1fb-8161-496b-a381-1d187c00bf7f",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "e52cd21f-c0b6-4c8e-ada0-eb576bd2e2a1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://charmikansara16.github.io/Scholastic-Research/api/v1/match",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $json.body.category }}"
            },
            {
              "name": "income_bracket",
              "value": "={{ $json.body.income_bracket }}"
            },
            {
              "name": "state",
              "value": "={{ $json.body.state }}"
            },
            {
              "name": "edu_level",
              "value": "={{ $json.body.edu_level }}"
            },
            {
              "name": "score",
              "value": "={{ parseFloat($json.body.score) }}"
            },
            {
              "name": "score_type",
              "value": "={{ $json.body.score_type || 'percentage' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "365c25f1-20e3-44c2-932e-92a5598fc2bf",
      "name": "Call ScholarAI Match API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"Webhook Trigger\"].json.body.email }}",
        "subject": "🎓 Your ScholarAI Matching Results",
        "emailType": "html",
        "htmlBody": "=<h3>Matched Scholarships ({{ $json.count }})</h3><ul>{{ $json.scholarships.map(s => '<li><b>' + s.name + '</b> - ' + s.amount_display + '</li>').join('') }}</ul>",
        "options": {}
      },
      "id": "b8cc6cd4-c38d-475c-bdbd-d34f982009e0",
      "name": "Send Gmail Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "webhookId": "01b5e0ea-79a6-457e-a079-21447c3f3a2d",
      "credentials": {
        "gmailOAuth2": {
          "id": "UhqMHnxGwLOJQ1Dz",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call ScholarAI Match API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ScholarAI Match API": {
      "main": [
        [
          {
            "node": "Send Gmail Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "784870d1eb048c55c2cbc570594bf8c714c54e8c85cd51aa1f1ccad528ad6291"
  }
}
